.views-wrapper{
    position: relative;
    padding: 170px 20px 0;
}

@media (min-width: 1024px) {
    .views-wrapper{
        position: relative;
        padding: 0 0 0 var(--layout-padding);
    }
}