.views-wrapper{
    position: relative;
    padding: 0 20px;
}
.page-padding{
	padding-top: 150px;
}
@media (min-width: 1024px) {
    .views-wrapper{
        position: relative;
        padding: 0 0 0 var(--layout-padding);
    }
    .page-padding{
        padding-top: 100px;
    }
}